<div class="container contenedor">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0" style="background:white !important;">
                
                    <div class="text-center">
                        <div class="card-profile-image">
                            <img id="login-logo" src="">
                        </div>
                    </div>
                
                
                <div class="card-body">
                    <div class="text-center text-muted mb-4 mt-1">
                        <small style="font-family: 'Rancho', cursive; font-size:17px"> <strong>¡Hola bienvenido!</strong></small>
                                <br>
                        <small style="font-family: 'Rancho', cursive; font-size:13px">Inicia sesión para comenzar</small>
                     
                    </div>
                    <form class="login100-form" 
                        autocomplete="off"
                        [formGroup]="miFormulario"
                        (ngSubmit)="login()">

                        <div class="form-group mb-3">
                            <label for="email">Correo electrónico</label>
                            <div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1" style="font-size: 24px;"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input class="form-control"
                                        type="email" 
                                        formControlName="email"
                                        placeholder="Ingrese su email">
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            
                            <label for="password">Contraseña</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1" style="font-size: 24px;"><i class="fas fa-key"></i></span>
                                </div>
                                <input class="form-control"
                                type="password"
                                formControlName="password"
                                placeholder="Ingrese su contraseña">
                            </div>
                        </div>
                        <input  name="remember" type="checkbox">
                            <label class="custom-control-label" for="customCheckLogin">
                                <span class="text-muted" style="font-family: 'Rancho', cursive;">Recuérdame</span>
                            </label>
                        <div class="text-center">
                            <button class="btn-rpc"
                            style="font-family: 'Rancho', cursive; font-size:16px"
                            type="submit"
                            [disabled]="miFormulario.invalid">
                            Acceder
                        </button>
                        </div>
                        <p class="text-center">--o--</p>

                        <ul class="list-inline text-center">

                            <div class="text-center">
                                
                                <div class="col-12">

                                        <a href="" class="text-dark">
                                            <small>¿Olvidaste tu contraseña?</small>
                                        </a>

                                </div>
                                <div class="col-12">
                                    <a routerLink="/auth/registro" class="text-dark">
                                        <small>Crear una cuenta</small>
                                    </a>
                                </div>
                            </div>
                        </ul>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
