
<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="width: 100%; display:flex;">
                <div *ngIf="!product; else divProduct" class="alert alert-info" style="margin: auto;">
                    Espere por favor ...
                </div>
                <ng-template #divProduct >
                    <app-card [product]="product" style="margin: auto;"></app-card>
                </ng-template>
            </div>
            
        </div>
        
        
    </div>
</div>
