<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid container">
        <a class="navbar-brand">Novusred</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/productos">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/nosotros">Nosotros</a>
              </li>

            </ul>

            <ul class="navbar-nav ml-auto">
                <!-- Authentication Links -->
                <li *ngIf="!usuario.name" class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/auth/login" >Login</a>
                </li>
                <li *ngIf="!usuario.name" class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/auth/registro">Registro</a>
                </li>

                <li *ngIf="usuario.name" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ usuario.name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                      </li>

                    </ul>
                </li>
                <li *ngIf="usuario.name && (usuario.role_id == '1' ||usuario.role_id == '2')" class="nav-item">
                    <a class="nav-link" >Dashboard</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
