<div class="card" style="width: 18rem; margin-top: 20px; margin-bottom: 20px;">
    <div class="card-body">
      <h5 class="card-title">Nombre: {{ product.name | titlecase}}</h5>
      <p class="card-text">Descripción: <br>{{ product.description }}</p>
      <ul class="list-group">
        <li class="list-group-item">Precio: {{ product.price }}</li>
        <li class="list-group-item">Stock: {{ product.stock }}</li>
        <li class="list-group-item">Vendidos {{ product.sold }}</li>
        <li class="list-group-item">Fecha: {{ product.created_at|date }}</li>
      </ul>
      <h5 class="text-center">Categorias</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let category of product.categories">{{ category.name }}</li>
        
      </ul>
      <div style="width: 100%; display: flex;">

        <a href="#" class="btn btn-primary" style="margin: 20px auto;">Go somewhere</a>
      </div>
    </div>
</div>