<nav class="d-flex pagination justify-content-center pag-mandm" aria-label="...">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled': page === 1 }"><a class="page-link" (click)="lista(page-1)"><<</a></li>

      <li *ngFor="let link of links ; let i = index" class="page-item"   [class.active]="page+'' == link.label">
        <a class="page-link" (click)="lista(i+1)">
          {{ link.label }}
        </a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': page === links.length}"><a class="page-link" (click)="lista(page+1)">>></a></li>
    </ul>
</nav>