
<div class="container contenedor">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Productos</h1>
        </div>
        <div  *ngIf="products.length > 0" class="col-12">
            <div class="col">
                <app-table  *ngIf="!hayError" [products]="products"></app-table>
            </div>
        </div>
        <app-pagination 
            (onClick)="lista( $event )"
            [page]="page"
            [links]="links"
        ></app-pagination>
    </div>
</div>