<div class="container contenedor">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8">
            <div class="card bg-secondary shadow border-0" style="background:white !important;">
                
                    
                    <div class="text-center">
                        <div class="card-profile-image">
                            <img id="login-logo" src="">
                        </div>
                    </div>
                    
            
                <div class="card-body">
                    <div class="text-center text-muted">
                        <small style="font-family: 'Rancho', cursive; font-size:17px"><strong>¡Forma parte de nuestra comunidad!</strong></small>
                        <br>
                        <small style="font-family: 'Rancho', cursive; font-size:13px">Tu información personal será usada para procesar tu orden'</small>
                    </div>
                    <div class="col-12">

                    </div>
                    <form class="login100-form" 
                        autocomplete="off"
                        [formGroup]="miFormulario"
                        (ngSubmit)="register()">

                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input class="form-control"
                            type="text" 
                            formControlName="name"
             
                            placeholder="Ingrese su nombre">

                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input class="form-control"
                            type="email" 
                            formControlName="email"
                            placeholder="Ingrese su email">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>

                            <input class="form-control"
                            type="password"
                            formControlName="password" 
                            placeholder="Ingrese su contraseña">
                        </div>

                        <div class="text-center">
                            <button class="btn-rpc"
                                style="font-family: 'Rancho', cursive; font-size:16px"
                                type="submit"
                                [disabled]="miFormulario.invalid">
                                    Registrar
                                </button>
                        </div>

                        
                    </form>
                    <p class="text-center">--o--</p>

                        <ul class="list-inline text-center">

                            <div class="text-center">
                                
                                <div class="col-12">

                                        <a href="" class="text-dark">
                                            <small>¿Olvidaste tu contraseña?</small>
                                        </a>

                                </div>
                                <div class="col-12">
                                    <a routerLink="/auth/registro" class="text-dark">
                                        <small>Crear una cuenta</small>
                                    </a>
                                </div>
                            </div>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
