.card{
    padding-left:30px;
    padding-right:30px;

}
#login-logo{
    width: 30%;
    padding-top: 10px;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: .0rem;
    margin-bottom: .0rem;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa {
    padding: 13px;
    width: 46px;
    font-size: 18px;
    border-radius: 50%;
  }
  .fa:hover{
    color: black !important;
  }