<form action="" [formGroup]="miFormulario" (ngSubmit)="create()">
    <div class="container">
        <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Crear producto</h1>
                    
                </div>
                <div class="col-12">
                    <label for="">Nombre del producto</label>
                    <input class="form-control"
                    type="text" 
                    formControlName="name"
                    placeholder="Ingrese el nombre del producto">
                </div>
                <div class="col-12">
                    <label for="">Descripción del producto</label>
                    <textarea  class="form-control" formControlName="description" style="resize: none;"></textarea>
                </div>
                <div class="col-6">
                    <label for="">Precio del producto</label>
                    <input class="form-control"
                    type="number" 
                    formControlName="price"
                    >
                </div>
            
                <div class="col-6">
                    <label for="">Modelo del producto</label>
                    <input class="form-control"
                    type="text" 
                    formControlName="model"
                    >
                </div>
                <div class="col-6">
                    <label for="">Código del sat</label>
                    <input class="form-control"
                    type="text" 
                    formControlName="sat_code"
                    >
                </div>
                <div class="col-6">
                    <label for="">Stock</label>
                    <input class="form-control"
                    type="number" 
                    formControlName="stock"
                    >
                </div>
                <div class="col-12" *ngFor="let category of categories">
                    
                    <input type="checkbox" formArrayName="categories_id" [value]="category.id" (change)="onCheckboxChange($event)" />
                    {{ category.name}}
                </div>

                <div class="col-12" style="display: flex;">
                    <button class="btn btn-primary"
                    style="margin: 20px auto;"
                    type="submit"
                    >
                    Acceder
                </button>
                </div>
                
        </div>
    </div>
</form>