<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.created_at|date }}</td>
        <td>
          <a class="btn btn-primary" routerLink="/dashboard/productos/{{ product.id }}"  style="margin-right: 5px;"><i class="far fa-eye"></i></a>
          <a class="btn btn-success" routerLink="/dashboard/productos/{{ product.id }}/edit"  style="margin-right: 5px;"><i class="fas fa-edit"></i></a>
          <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      
    </tbody>
</table>