footer{
    font-family: 'Rancho', cursive;
    font-size: 20px;
}

.container-footer{
    width: 100%;  
    background:white;
    border: solid 1px black;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    width: 100%; 
    height: 100%;
    color: black;
}

.copyright a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.figure {
    position: relative;
    float: left;
    width: 100%; /* can be omitted for a regular non-lazy image */
    height: 600px;
  }
  .figure img{
    width: 100%;
    height: 600px;
  }
  .figure img.image-main {
  
    transition: opacity 1.5s ease-in-out;
    }
  .figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  }
  .figure:hover img.image-main {
    opacity: 0;
    }
  .figure:hover img.image-hover {
  opacity: 1;
  }
  .figure2 {
    position: relative;
    float: left;
    width: 100%; /* can be omitted for a regular non-lazy image */
    height: 600px;
  }
  .figure2 img{
    width: 100%;
    height: 600px;
  }
  .figure2 img.image-main {
  
    transition: opacity 1.5s ease-in-out;
    }
  .figure2 img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  }
  .figure2:hover img.image-main {
    opacity: 0;
    }
  .figure2:hover img.image-hover {
  opacity: 1;
  }