.contenedor{
    margin-top: 40px;
    margin-bottom: 20px;
    min-height: 600px;
  }
#loading {
    background: url('/images/logo_rapido.gif') no-repeat center center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
  }
  
  #TituloPagina{
    width: 100%;
    height: 80px;
    padding: 15px 10px;
    margin-bottom: 10px;
  }
  #contTitulo{
    width: 80%;
    float: left;
    padding-left: 15px;
  }
  #contBotonRegresar{
    margin-top: 6px !important;
    
    width: 20%;
    float: left;
    padding-right: 15px;
  }
  #btn_Regresar{
    background-color: #2aacdd !important;
    color: white !important;
    border-color:  #2aacdd !important;
  }
  #btn_Regresar:hover{
    background-color: #fff !important;
    color: #2aacdd !important;
  
  }
  #contBotonRegresar a{
    float: right;
  }
  
  #TituloPagina h1{
    text-align: left;
    color: #2aacdd;
  }
  @media (max-width: 1227px){
    #contTitulo{
        padding-top: 5px;
        width: 60%;
    }
    #contBotonRegresar{
        width: 40%;
    }
    #TituloPagina h1{
        font-size: 26px;
    }
    #contTitulo{
        padding-top: 5px;
    }
    .th-name{
        min-width: 100px;
    }
    .th-config{
        min-width: 150px;
    }
  }
  @media (max-width: 767px){
    
    #contTitulo{
        padding-top: 15px;
        width: 50%;
    }
    #contBotonRegresar{
        width: 50%;
    }
    #TituloPagina h1{
        font-size: 16px;
    }
  
  }
  @media (max-width: 719px){
    #TituloPagina{
  
        padding: 15px 0px;
  
        }
        
  }
  .page-link{
    color: #2aacdd !important;
  }
  .page-link:hover{
    color: black;
  }
  .page-item.active .page-link {
  
    background-color: #2aacdd !important;
    border-color: #2aacdd !important;
  }
  .btn-rpc {
    background-color: #2aacdd !important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .btn-rpc:hover{
    background-color: #109ed1 !important;
  }
  